{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h3 class="my-5 font-weight-normal">Mes informations</h3>
            <figure class="image">
				<div class="mw-100 overflow-hidden">
					<img src="{{ (user.imageName ? vich_uploader_asset(user) : asset('build/images/apple.png')) | imagine_filter('my_thumb_medium') }}" alt="photo {{ user.prenom ? user.prenom : user.email }}" class="rounded-circle img-thumbnail img-fluid"/>
				</div>
			</figure>
            <p class="lead">{{ user.email }}</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Prénom: </th>
                        <td>{{ user.prenom ? user.prenom : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone: </th>
                        <td>{{ user.phone ? user.phone : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th>Année de naissance: </th>
                        <td>{{ user.anneeNaiss ? user.anneeNaiss|date('Y') : 'N/A' }}</td>
                    </tr>
                     <tr>
                        <th>Date d'inscription: </th>
                        <td>{{ user.createdAt|date('d/m/Y') }}</td>
                    </tr>
                </tbody>
            </table>
            <p>
            	<a href="{{ path('app_account_edit') }}" class="text-decoration-none">Modifier mes informations</a> |
            	<a href="{{ path('app_account_change_password') }}" class="text-decoration-none">Modifier mon mot de passe</a>
            </p>
            <p>{{ include('account/_delete_form.html.twig') }}</p>
        </div>
    </div>
{% endblock %}
